header {
    height: 7vh;
    justify-content: space-between;
    align-items: center;
}
#logo {
    width: 30%;
    margin-left: 10px;
}
#titre {
    font-family: "Raleway-LightItalic";
    font-size: 1em;
}
#user {
    width: 30%;
    margin-right: 10px;
}
#user p {
    text-align: end;
}
main {
    height: 86vh;
}
.col div {
    height: 25%;
    justify-content: space-between;
    align-items: center;
}
div h2 {
    margin-left: 5px;
}
div i {
    margin-right: 5px;
}
footer {
    height: 7vh;
    width: 100%;
    display: flex;
    align-items: center;
}
nav {
    width: 100%;
    justify-content: space-evenly;
}